.placeholder {
  border: 1px dashed var(--mantine-color-default-border);
  background: var(--mantine-color-gray-light);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
